
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face{
  font-family: Heavy;
  src: url('./assets/heavy.otf');
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  
}

.brandname{
  font-family: Heavy;
}

.bg-grad{
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.bg-grad-light{
  background-color: #eaeae8;
}

.bg-grad-danger{
  background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

.bg-grad-success{
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.inp{
  resize: none;
}

.holder{
  display: table;
}

.content{
  display: table-cell;
  vertical-align: middle;
}

.chat-holder{
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}
