
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  
}

.hand-written{
  font-family: 'Itim', cursive;
}

.bg-grad{
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.bg-grad-light{
  background-color: #eaeae8;
}

.bg-grad-danger{
  background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

.bg-grad-success{
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.inp{
  resize: none;
}

.holder{
  display: table;
}

.content{
  display: table-cell;
  vertical-align: middle;
}

.userimg{
  width: 50%;
}

.chat-holder{
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width:600px){
  .userimg{
    width: 80%;
  } 
}