
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Itim', cursive;
}

.bg-grad{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(163,175,243,1) 0%, rgba(220,182,232,1) 100.2% );
}

.bg-grad-light{
  background-color: #eaeae8;
}

.shadowx{
  box-shadow: -2px 2px 10px #1e1e1e63;
}

.inp{
  resize: none;
}

.holder{
  display: table;
}

.content{
  display: table-cell;
  vertical-align: middle;
}

.userimg{
  width: 50%;
}

body::-webkit-scrollbar{
  display: none;
}


@media screen and (max-width:600px){
  .userimg{
    width: 80%;
  } 
}